/* entire screen bg */
#root { -fx-background-color: #f3f3f3; }

/* headers */
.header-small { -fx-font-size: 20px; -fx-font-weight: 700; }
.header-big   { -fx-font-size: 48px; -fx-font-weight: 800; }

/* MEDIA CARDS --------------------------------------------------------*/
.media-card {
    -fx-background-radius: 22;
    -fx-border-radius: 22;
    -fx-border-color: transparent;
    -fx-transition: all 0.18s ease-in-out;
}

.media-card:hover {
    -fx-border-color: #ff9b34;
    -fx-border-width: 3;
}

/* grey top half */
.card-top {
    -fx-background-color: linear-gradient(#7e7e7e 0%, #6c6c6c 100%);
    -fx-background-radius: 22 22 0 0;
    -fx-alignment: center;
}

/* white bottom label bar */
.card-label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 22 22;
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-padding: 22 0 22 0;
    -fx-text-alignment: center;
}
